.faixa {
    width: 100%;
    display: flex;
    justify-content: center;
}

.blocoVistoria {
    background-color: #c1e1fc;
    border: 20px solid #dbedfe;
    border-radius: 30px;
    height: auto;
    width: auto;
    padding: 30px 40px;
}
.linha01 {
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.linha02 {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.linha02 button {
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #85C4F9;
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.linha02 button:hover {
    background-color: #718fc3;
  transition: all 0.3s ease;
}

table thead th {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    color: #2563ae;
    font-weight: 600;
}

table td input {
    border: none;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    padding: 4px 10px;
    text-align: center;
}

table td:nth-child(1) input {
    text-align: start;
    width: 200px; 
}

table td:nth-child(2) input {
    width: 50px; 
}

table td:nth-child(3) input {
    width: 50px; 
}

table td:nth-child(4) input {
    width: 50px; 
}
table td:nth-child(5) input {
    width: 250px; 
    text-align: start;
}

table td:nth-child(6) input {
    width: 23px; 
    height: 23px;
    margin-left: 10px;
}



.senao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px;
    margin-top: 70px;
}

.senao p {
    color: #185CA9;
    font-size: 25px;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
}

.senao button {
    border: none;
    background-color: #85c4f9;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    font-family: "League Spartan", sans-serif;
    padding: 8px 40px;
    border-radius: 30px;
}

.senao button:hover {
    background-color: #718fc3;  
    transition: all 0.3s ease;
}

.linha03 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.linha03 button {
    border: none;
    background-color: #85c4f9;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    font-family: "League Spartan", sans-serif;
    padding: 5px 15px;
    border-radius: 30px;
}

.linha03 button:hover {
    background-color: #718fc3;  
    transition: all 0.3s ease;
}