body, html{
    height: 100%;
    width: 100%;
    margin: 0px;
}



.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.esquerda {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda img {
    margin: auto;
    display: block;

}

.direita {
    width: 40%;
    background-color: #85C4F9;
}

.container-login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-cadastre-se {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-cadastre-se button {
    margin: 16px 0px;
    margin-left: 15px;
    border-radius: 40px;
    width: 150px;
    border: none;
    font-size: 20px;
    background-color: #fff;
    padding: 13px;
    color: #85C4F9;
    font-weight: bold;
    font-family: "League Spartan", sans-serif;

}

.container-cadastre-se button:hover {
    background-color: #6da0cb;
    transition: all 0.4s ease;
    color: #fff;
}

.container-cadastre-se p {
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-size: 21px;
}

.ehProfessor {
    display: flex;
    width: 92%;
    justify-content: center;
    height: auto;
    margin-top: 40px;
    align-items: center;
}

.ehProfessor label {
    font-size: 25px;
    color: #fff;
    font-family: "League Spartan", sans-serif;
    margin-right: 5px;
}

.ehProfessor input {
    width: 25px;
    height: 25px;
}

.ehProfessor input[type=checkbox]:checked {
    background: #BADA55;
 }


.login {
    
    height: 650px;
    width: 80%;
}

.login h1 {
    font-size: 90px;
    color: #fff;
    font-family: "League Spartan", sans-serif;
    margin-left: 25px;
}

.login h2 {
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-size: 35px;
    margin-left: 25px;
}


.form .inputs {
    width: 70%;
    padding: 13px;
    border: 2px solid #fff;
    background-color: #85C4F9;
    margin-left: 0px;
}

.form i {
    
    background-color: #fff;
    font-size: 30px;
    color: #85C4F9;
    padding: 7px 10px 8px 10px;
    margin-right: 0px;
}

.div-input {
    margin-left: 25px;
    display: flex;
    margin-bottom: 10px;
}

.botao-login {
    border-radius: 40px;
    width: 150px;
    border: none;
    font-size: 30px;
    background-color: #fff;
    padding: 15px;
    color: #85C4F9;
    font-weight: bold;
    margin: 70px 50px 40px 0px;
    font-family: "League Spartan", sans-serif;
}

.botao-login:hover {
   background-color: #6da0cb;
    transition: all 0.4s ease;
    color: #fff;
}



.cadastre-se {
    border: 1px solid #000;
}



.mensagem-erro p {
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
}

.mensagem-erro {
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    width: 350px;
    height: auto;
    margin: 0% 15%;
    box-shadow: 1px 9px 21px #0a09094f;
}
