.linha-movimentacao {
    width: 100%;
    display: flex;
    justify-content: center;
}
.quadro-movimentacao {
    width: auto;
    height: auto;
    background-color: #c1e1fc;
    border: 20px solid #dbedfe;
    padding:  40px 30px;
    border-radius: 30px;
}


td:nth-child(1) input{
    width: 180px;

}

td:nth-child(2) input{
    width: 50px;
}

td:nth-child(3) input{
    width: 100px;
}

td:nth-child(4) input{
    width: 100px;
}

td:nth-child(5) input{
    height:auto;
    padding: 5px 15px;
    margin-right: 0px;
    border: none;
    background-color: #85C4F9;
    color:#fff;
    border-radius: 20px;
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
    font-weight: 600;

}

tbody td {
    padding-bottom: 20px;
}

td input {
    height: 25px;
    padding-left: 5px;
    margin-right: 20px;
    border: none;
}

th {
    padding-right: 20px;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    color: #2563ae;
    font-weight: 600;
    
}

thead th {
    padding-bottom: 7px;
}

.linhaBM {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.linhaBM input {
    border: none;
    color: #fff;
    background-color: #85c4f9;
    font-weight: 800;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: "League Spartan", sans-serif;
    text-align: center;
}

.linhaBM input:hover {
    background-color: #718fc3;
    transition: all 0.3s ease;

}

tbody td select {
    border: none;
    height: 25px;
    background-color: #d2e5f7;
}

tbody td #pegar:hover {
    background-color: #718fc3;
    transition: all 0.3s ease;
}

.quadro-tabela {
    display: block;
    overflow-y: scroll;
    height: 300px;
}

#selecionar {
    height: 20px;
    width: 20px;
    padding-left: 0px;
    margin-right: 0px;
    margin: 0px 25px 0px 15px;
}


#operacao{
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    color: #2563ae;
    font-weight: 600;
    margin-top: 20px;
}