.faixa {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bloco-picking {
    height: auto;
    min-height: 50px;
    min-width: 200px;
    background-color: #c1e1fc;
    border: 20px solid #dbedfe;
    border-radius: 30px;
    padding: 20px;
}

.linha1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}

.linha1 label {
    margin-right: 10px;
    color: #185CA9;
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.linha1 input {
    border: none;
    height: 23px;
    padding-left: 8px;
}

.linha1 button {
    border: none;
    background-color: #85C4F9;
    color: #FFF;
    font-size: 16px;
    padding: 3px 9px;

}
.linha1 form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filter1, .filter2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.filter1 {
    margin-right: 15px;
}

.filter1 p {
    margin-right: 10px;
    color: #185CA9;
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.filter2 select {
    border: none;
    height: 23px;
    padding-left: 8px;
}

.linha2 {
    width: 100%;
    margin-top: 30px;
}

td:nth-child(1) input{
    width: 180px;

}

td:nth-child(2) input{
    width: 50px;
}

td:nth-child(3) input{
    width: 100px;
}

td:nth-child(4) input{
    width: 100px;
}

tbody td {
    padding-bottom: 10px;
}

td input {
    height: 25px;
    padding-left: 5px;
    margin-right: 20px;
    border: none;
}

th {
    padding-right: 20px;
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    color: #2563ae;
    font-weight: 600;
}

thead th {
    padding-bottom: 7px;
}

#pegar {
    background-color: #85C4F9;
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
    border: none;
    font-weight: 600;
    border-radius: 30px;
    padding: 4px 20px;
    margin-right: 0px;
}

#pegar:hover {
    background-color: #718fc3;
    transition: all 0.2s ease;
}

.linha3 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    align-items: center;
}

.linha3 button {
    background-color: #85C4F9;
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    border: none;
    font-weight: 600;
    border-radius: 30px;
    padding: 10px 25px;
}

.linha3 button:hover {
    background-color: #718fc3;
    transition: all 0.3s ease;
}

td p {
    color: #185CA9;
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-left: 160px;
}

#selecionar {
    height: 20px;
    width: 20px;
    padding-left: 0px;
    margin-right: 0px;
    margin: 0px 25px;
}

tbody td select {
    border: none;
    height: 25px;
    background-color: #fff;
}