.linhaE {
    width: 100%;
    display: flex;
    justify-content: center;
}

.blocoE1 {
    width: 400px;
    display: flex;
    justify-content: center;
}

.blocoE2 {
    width: 400px;
    display: flex;
    justify-content: center;
}


.button-row button {
    width: 50px;
    height: 40px;
    font-size: 18px;
    font-family: "League Spartan", sans-serif;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

button.desmarcado {
    background-color: #718fc3; /* Cor padrão para os botões não destacados */
}

button.destaque {
    background-color: #185CA9; /* Cor mais escura para o botão destacado */
}