body, html{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #85C4F9;
}

body {
    display: flex;
    justify-content: center;
}

.principal {
    background-color: #fff;
    width: 65%;
    height: 100%;
}


.imagem {
    display: flex;
    justify-content: center;
    margin: 180px 0px 0px 0px;
}

.texto {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.texto p {
    font-size: 30px;
    color: #005DAA;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
}


.botoes{
    display: flex;
    height: auto;
    justify-content: center;
}

#voltar {
    background-color: #255ba8;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 18px 50px;
    font-size: 30px;
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    border-right: 2px solid #fff;
}

#login {
    background-color: #255ba8;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 18px 18px;
    font-size: 30px;
    color: #fff;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    border-right: 2px solid #fff;
}

#login:hover, #voltar:hover {
    background-color: #0b2d5d;
    transition: all 0.3s ease;
}



