.criacao-solicitacao{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
  
.bloco-criacao-solicitacao {
  background-color: #c1e1fc;
  display: flex;
  justify-content: center;
  width: auto;
  border-radius: 30px;
  padding: 25px 30px;
  border: 15px solid #dbedfe;
}  
  
.bloco-criacao-solicitacao form {
  width: auto;
}


.form .form-numero {
  width: 100%;
  display: flex;
  text-align: start;
  margin-left: 20px;
  align-items: center;
  margin-bottom: 25px;
}

.form .form-numero label {
  font-size: 21px;
  font-family: "League Spartan", sans-serif;
  color: #2a60a9;
  font-weight: 600;
  margin-right: 15px;
}

.form .form-numero input {
  border: none;
  width: 160px;
  height: 23px;
  font-size: 16px;
  padding-left: 7px;
}

.form .form-numero p {
  font-size: 20px;
  font-family: "League Spartan", sans-serif;
  color: #2a60a9;
  font-weight: 600;
  margin-left: 20px;
}



.form table th {
  font-size: 20px;
  font-family: "League Spartan", sans-serif;
  color: #2a60a9;
  font-weight: 600;
}

.form table td input {
  border: none;
  height: 23px;
}




.form table tbody tr:hover {
  background-color: #8fc3f7;
  
}

/*      td         */

.form td:nth-child(1) {
  margin-bottom: 30px;
}

.quadrado-numero-produto {
  background-color: #85c4f9;
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 23px;
  font-family: "League Spartan", sans-serif;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.form td:nth-child(2) input {
  width: 300px;
  margin-left: 5px;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  padding-left: 7px;
}

.form td:nth-child(3) input {
  width: 80px;
  margin-left: 25px;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  text-align: center;
}

.form td:nth-child(4) input {
  width: 80px;
  margin-left: 2px;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  text-align: center;
}

.form td:nth-child(5) input {
  width: 80px;
  margin-left: 2px;
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  text-align: center;
}


/*      th         */
.form th:nth-child(3) p {
  margin-left: 25px;
  font-size: 18px;
  padding: 0px 15px;
}

.tituloObservacoes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
  margin-bottom: 10px;
}

.tituloObservacoes p {
  font-size: 21px;
  font-family: "League Spartan", sans-serif;
  color: #2a60a9;
  font-weight: 600;
}

/*////////////////////////Dados Clientes////////////////////////*/

.blocoObservacoes {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blocoObservacoes textarea {
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  padding: 10px 8px;
  border: none;
  resize: none;
}

/*////////////////////////Bloco Final////////////////////////*/

.blocoFinal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.blocoFinal input {
  border: none;
  background-color: #8fc3f7;
  border-radius: 25px;
  padding: 13px 45px;
  font-family: "League Spartan", sans-serif;
  color: #fff;
  font-size: 27px;
  font-weight: 700;
}

.blocoFinal input:hover {
  background-color: #718fc3;
  transition: all 0.3s ease;
}